/* You can add global styles to this file, and also import other style files */
header img { display: block; }
.logo-wrap { display: flex; justify-content: center; margin-bottom: 1rem; }
.logo { height: 64px; }